<div class="flow-contact-form">
<table cellpadding="0" cellspacing="10">
<form name="contact-flow" method="post" action="contact-sent.php">
<tr>
<td align="right"><label for="firstname">First Name*:</label></td>
<td><input type="text" name="firstname" required id="firstname" /></td>
</tr>
<tr>
<td align="right"><label for="lastname">Last Name*:</label></td>
<td><input type="text" name="lastname" required id="lastname" /></td>
</tr>
<tr>
<td align="right"><label for="email">Email Address*:</label></td>
<td><input type="text" name="email" required id="email" /></td>
</tr>
<tr>
<td align="right"><label for="confirmemail">Confirm Email Address*:</label></td>
<td><input type="text" name="confirmemail" required id="confirmemail" /></td>
</tr>
<tr>
<td align="right"><label for="accountnumber">Account Number:</label></td>
<td><input type="text" name="accountnumber" id="accountnumber" /></td>
</tr>
<tr>
<td align="right" valign="top"><br /><label for="message">Message:</label></td>
<td><textarea name="message" id="message" rows="10" cols="60"></textarea></td>
</tr>

<tr>
<td>&nbsp;</td>
<td align="center"><input type="submit" name="submit" value="SEND" id="contact-submit" /></td>
</tr>

</form>
</table>
</div>

