* {margin:0; padding:0;}
body {font-family: Nova !important; line-height:24px; font-size:18px; color:#53565a; background-color:#ffffff; -webkit-font-smoothing: antialiased;}
.clear {display:block; clear:both; height:0;}
a img {border:none;}
a {outline:none; -moz-transition: all 0.25s ease-in; -webkit-transition: all 0.25s ease-in; -o-transition: all 0.25s ease-in;}
input.submit {-moz-transition: all 0.25s ease-in; -webkit-transition: all 0.25s ease-in; -o-transition: all 0.25s ease-in;}
input::-ms-clear {width : 0; height: 0;}
h6 {height:15px !important;}

body .iconCalc {
	vertical-align:middle !important;
	display:inline-block !important;
	margin-right:15px !important;}


/***** FONTS *****/
@font-face {
    font-family: 'Nova-Thin';
    src: url('fonts/proxima_nova_thin-webfont.eot');
    src: url('fonts/proxima_nova_thin-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/proxima_nova_thin-webfont.woff') format('woff'),
         url('fonts/proxima_nova_thin-webfont.ttf') format('truetype'),
         url('fonts/proxima_nova_thin-webfont.svg#proxima_novathin') format('svg');
    font-weight: normal; ,
    font-style: normal;

}

@font-face {
    font-family: 'Nova-Light';
    src: url('fonts/proxima_nova_light-webfont.eot');
    src: url('fonts/proxima_nova_light-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/proxima_nova_light-webfont.woff') format('woff'),
         url('fonts/proxima_nova_light-webfont.ttf') format('truetype'),
         url('fonts/proxima_nova_light-webfont.svg#proxima_novalight') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'Nova';
    src: url('fonts/proxima_nova_reg-webfont.eot');
    src: url('fonts/proxima_nova_reg-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/proxima_nova_reg-webfont.woff') format('woff'),
         url('fonts/proxima_nova_reg-webfont.ttf') format('truetype'),
         url('fonts/proxima_nova_reg-webfont.svg#proxima_nova_rgregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'Nova-SB';
    src: url('fonts/proxima_nova_sbold-webfont.eot');
    src: url('fonts/proxima_nova_sbold-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/proxima_nova_sbold-webfont.woff') format('woff'),
         url('fonts/proxima_nova_sbold-webfont.ttf') format('truetype'),
         url('fonts/proxima_nova_sbold-webfont.svg#proxima_novasemibold') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'Nova-RegIt';
    src: url('fonts/proxima_nova_reg_it-webfont.eot');
    src: url('fonts/proxima_nova_reg_it-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/proxima_nova_reg_it-webfont.woff') format('woff'),
         url('fonts/proxima_nova_reg_it-webfont.ttf') format('truetype'),
         url('fonts/proxima_nova_reg_it-webfont.svg#proxima_novaregular_italic') format('svg');
    font-weight: normal;
    font-style: normal;

}


@font-face {
    font-family: 'Nova-SBIt';
    src: url('fonts/proxima_nova_sbold_it-webfont.eot');
    src: url('fonts/proxima_nova_sbold_it-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/proxima_nova_sbold_it-webfont.woff') format('woff'),
         url('fonts/proxima_nova_sbold_it-webfont.ttf') format('truetype'),
         url('fonts/proxima_nova_sbold_it-webfont.svg#proxima_novasemibold_italic') format('svg');
    font-weight: normal;
    font-style: normal;

}


/***** GENERAL STUFF *****/
#header {max-width:920px; width:100%; margin:0 auto; }

#login {text-decoration:none; font-family:Nova-SB; font-size:14px; color:#53565a; background: #eeeff0 url(../images/login-icon.png) no-repeat 30px bottom;  height:42px; line-height:42px; padding-left:90px; padding-right:47px; float:right; -webkit-border-bottom-right-radius: 3px; -webkit-border-bottom-left-radius: 3px; -moz-border-radius-bottomright: 3px; -moz-border-radius-bottomleft: 3px; border-bottom-right-radius: 3px; border-bottom-left-radius: 3px;}
#login:hover {background-color:#67c7e3; color:#ffffff;}

#logo {margin-top:85px; float:left;}

#content {max-width:780px; width:100%; margin:0 auto;}
#content.full {max-width:960px;}

div.line {width:116%; height:2px; background-color:#f0f0f0; margin-left:-8%;}
#content.full div.line {width:100%; margin-left:0px;}

img.alignright {float:right; margin:0 0 0 18%; max-width:100%; height:auto;}
img.alignleft {float:left; margin:0 5% 0 0; max-width:100%; height:auto;}

h1 {font-weight:normal; color:#38c3eb; font-family:Nova-Light; font-size:48px; line-height:60px;}

em {font-family:Nova-RegIt; font-style:normal;}

input.error, form.share input.error {border-color:#be0000 !important;}
span.error ul {list-style:none !important; padding:0 !important; margin: 0 0 20px 36.5% !important;}
span.error ul li {font-size:14px; color:#be0000; line-height:18px;}
p.email-success {color:#67C7E3 !important; font-family: Nova-SB !important;}

span.number {display:inline-block; text-decoration:none !important; font-weight:bold;}

div.clear-36 {clear:both; height:36px; width:100%; display:block;}

div.promise img {max-width:400px !important;}

#shouldExpect img {display:block !important; margin:0 auto !important;}
#shouldExpect p {padding-bottom:5px !important;}

body.what-you-should-expect  p { padding:10px 8% 14px 0 !important;
font-size:16px !important; line-height:22px !important;}

body.what-you-should-expect .quote {font-size:48px !important; line-height:50px !important;
font-style:italic !important; color:#67c7e3 !important;}

div.go-with-flow img {max-width:150px !important; float:right !important;}
img.map {max-width:100%; height:auto;}


/***** BUTTONS *****/
a.button {display:inline-block; height:40px; line-height:40px; color:#ffffff; font-size:16px; text-decoration:none; padding:0 50px; -webkit-border-radius: 3px; -moz-border-radius: 3px; border-radius: 3px;}

a.button.grey {background-color:#53565a;}
a.button.grey:hover {background-color:#67c7e3;}

a.button.blue {background-color:#67c7e3;}
a.button.blue.full { display:block; width:70%; text-align:center; margin-bottom:20px; font-size:28px; font-family:Nova-Thin; padding-top:7px; padding-bottom:7px;}
a.button.blue:hover {background-color:#53565a;}

.blue {background-color:#67c7e3;}
.blue.full { display:block; width:20%; border:none; border-radius:5px; text-align:center; margin-bottom:20px; font-size:16px; font-family:Nova-Thin; padding-top:7px; padding-bottom:7px; color:#fff;}
.blue:hover {background-color:#53565a;}

p a.button {color:#fff !important;}
p a.button:hover {color:#fff !important;}

a.button.meet-flow {float:right; margin-right:10.5%;}


/***** MENU *****/
#menu {list-style:none; float:right; margin-top:55px; /*76px*/}
#menu li {float:left; position:relative;}

#menu li a {display:block; text-decoration:none; color:#b2bbbf; font-family:Nova-SB; font-size:14px; height:56px; line-height:56px; padding:0 10px; -moz-transition: none; -webkit-transition: none; -o-transition: none; -webkit-border-radius: 3px; -moz-border-radius: 3px; border-radius: 3px; cursor:default;} 
#menu li.active a {color:#67c7e3;}

#menu li.open a {background-color:#64767d; color:#ffffff;}

#menu li.open ul {z-index:15; opacity:1; -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=100)"; filter: alpha(opacity=100);}
#menu li a:hover {color:#67c7e3;}


/**** SUB-MENU *****/
#menu li ul {list-style:none; position:absolute; left:0; top:52px; width:300px; opacity:0; -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=0)"; filter: alpha(opacity=00); z-index:5; background-color:#64767d; padding:20px 0 25px 14px; -webkit-border-radius: 3px; -moz-border-radius: 3px; border-radius: 3px;}

#menu li.small-menu ul {width:200px;}
#menu li ul li {float:none;}

#menu li ul li a {height:auto; line-height:28px; font-size:16px; color:#ffffff; font-family:Nova-SB; padding-left:20px; cursor:pointer;}
#menu li ul li a:hover, #menu li ul li a.active {color:#ffffff; background: transparent url(../images/sub-menu-dot.png) no-repeat left 9px; -moz-transition: none; -webkit-transition: none; -o-transition: none;}

#menu li ul li.title {font-size:16px; line-height:28px; color:#67c7e3; font-family:Nova-SB;}
#menu li ul li.title a:hover { color:#ffffff; background: none;}
#menu li ul li.title.active a {color:#ffffff !important;}


div.menu-hover {height:100%; width:100%; background-color:#fff; z-index:10; position:relative;}
div.menu-hover.open {opacity:0.2; -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=20)"; filter: alpha(opacity=20);}

#menu li.hoverEnabled:hover a {background-color:#64767d; color:#ffffff; -moz-transition: none; -webkit-transition: none; -o-transition: none; -webkit-border-radius: 3px; -moz-border-radius: 3px; border-radius: 3px;}
#menu li.hoverEnabled:hover ul {z-index:15; opacity:1; -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=100)"; filter: alpha(opacity=100); -moz-transition: none; -webkit-transition: none; -o-transition: none; -webkit-border-radius: 3px; -moz-border-radius: 3px; border-radius: 3px;}

#menu li ul li.title a {padding-left:0; color:#67c7e3 !important; }
#menu li ul li.title a:hover {color:#ffffff !important; }
#menu li.open a:first-child:hover {color:#ffffff;}


/***** MOBILE MENU *****/
#menu-hidden {padding:20px 6%; width:88%; background-color:#64767d;z-index:99999; list-style:none;-webkit-border-radius: 3px; -moz-border-radius: 3px; border-radius: 3px; display:none; margin-top:10px;  float:left; clear:left;} 

#menu-hidden li {padding-bottom:7px;}

#menu-hidden li a {text-decoration:none; color:#d5d9db; font-size:15px; font-family:Nova-SB;}
#menu-hidden li a:hover, #menu-hidden li a.active {color:#67c7e3;}

#menu-hidden li ul {display:none; list-style:none; padding-left:7%; padding-bottom:0; padding-top:0;}

#menu-hidden li ul li a {color:#ffffff;}
#menu-hidden li.title {color:#67c7e3;}

#menu-hidden li ul li.active a, #menu-hidden li ul li a:hover {color:#67c7e3 ;}

#menu-hidden li ul li {padding-bottom:0px; padding-top:7px;}

#menu-hidden-button {display:none; margin-top:5px;  position:relative; top:0;float:left;}


/***** CONTENT STUFF *****/
#content.full div.content p a {text-decoration:none; color:#67c7e3;}
#content.full div.content p a:hover {color:#53565a;}
#content.full div.content ul {padding:7px 0 20px 16px;}
#content.full div.content ol {padding:0 0 20px 30px;}

#content.full div.right.first p a {text-decoration:none; color:#67c7e3;}
#content.full div.right.first p a:hover {color:#53565a;}


/***** FOOTER *****/
#footer-container {width:100%; background-color:#f5f6f7; padding:90px 0 70px 0 ;}
#footer {max-width:780px; width:100%; margin:0 auto;}

#footer-menu {list-style:none; text-align:center;}
#footer-menu li {display:inline; margin-left:18px;}
#footer-menu li:first-child {margin-left:0px;}

#footer-menu li a {text-decoration:none; color:#53565a; font-size:14px; font-family:Nova-SB;}
#footer-menu li a:hover, #footer-menu li.active a {color:#67c7e3;}


#footer-share {margin:0 auto; text-align:center; padding:60px 0 45px 0;}
#footer-share a {display:inline-block; height:40px; width:40px;}
#footer-share a:hover {opacity:0.8; -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=80)"; filter: alpha(opacity=80);}

#footer-share a.twitter {background: transparent url(../images/twitter-icon.png) no-repeat left center;}
#footer-share a.facebook {background: transparent url(../images/facebook-icon.png) no-repeat left center;}
#footer-share a.linkedin {background: transparent url(../images/linkedin-icon.png) no-repeat left center;}

#header-share {float: right; margin:1px 6px;}
#header-share a {display:inline-block; height:40px; width:40px;}
#header-share a:hover {opacity:0.8; -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=80)"; filter: alpha(opacity=80);}

#header-share a.twitter {background: transparent url(../images/twitter-icon.png) no-repeat left center;}
#header-share a.facebook {background: transparent url(../images/facebook-icon.png) no-repeat left center;}



#footer p.copyright {display:block; text-align:center; color:#b2bbbf; font-size:14px; font-family:Nova-SB;}

/*******Complaints page*********/
#comptable {border-collapse: collapse;}
#comptable tr {border-bottom:1px solid #67c7e3;}
#comptable tr td {vertical-align:top; padding:5px;}


/********What customers say page **************/
#whatcustomersholder {background: transparent url(../images/handsheart-lg.png) no-repeat right 40px; overflow:hidden;margin-top:-40px;}
/***** QUOTE FORM PAGE *****/
#content.full {padding-bottom:140px;}

#content.full div.left {float:left; width:33.8%; text-align:right;}
#content.full div.left img {margin-top:13px;}
#content.full div.left h1 {color:#b2bbbf;}

#content.full div.right {float:left; width:63.5%; margin-left:2.7%;}
#content.full div.right p {font-size:18px; line-height:24px; color:#53565a; font-family:Nova; padding-bottom:15px;}
#content.full div.right h1 {padding-bottom:8px;}

#quote-form div.float {float:left; margin-left:10%;}

#quote-form div.form-line {float:left; clear:both; width:100%; border-bottom:2px solid #f9f9f9; padding:26px 0 21px 0; overflow-x:hidden;}
#quote-form div.form-line:first-child {border-top:2px solid #f9f9f9;}

#quote-form.no-line div.form-line {border:none; padding:5px 0;}
#quote-form.no-line div.line {margin:20px 0;}

#quote-form.no-line div.select-box-big {width:220px;}
#quote-form.no-line div.select-box-big.full {width:80%;}
div.select-box-big.register {width:309px !important; margin-bottom:10px;}

#quote-form input {width:211px; padding-left:8px; height:42px; border:2px solid #d8d8d8; -webkit-border-radius: 3px; -moz-border-radius: 3px; border-radius: 3px; font-size:16px; font-family:Nova; color:#666666;}

#quote-form input.full {width:78.2%;}

#quote-form input.clear {margin-top:5px;}

#quote-form div.left {min-height:5px;}
div.left label {color:#67c7e3; font-size:14px; font-family:Nova-SB; height:44px; line-height:44px;}
#quote-form div.left label strong {clear:left; display:block; font-weight:normal; color:#53565a; margin-top:-22px !important;}

div.right label {float:left; clear:left; height:auto; line-height:25px; margin-bottom:5px; font-size:14px; font-family:Nova-SB; color:#53565a; margin-top:9px;}

#quote-form div.right label.big {height:auto;}

#quote-form div.right label.small-width {width:68%; line-height:18px;}
#quote-form div.right label.small-height {height:auto; line-height:18px; margin:0;}
#quote-form div.labels {margin-top:13px;}

#quote-form select {-webkit-appearance: none;}

#selectselect {-webkit-appearance: none;}

#quote-form div.right label a {text-decoration:none; color:#67c7e3;}
#quote-form div.right label a:hover {color:#53565a;}

#quote-form input.submit {display:inline-block; height:40px; line-height:40px; color:#ffffff; font-size:16px; text-decoration:none; padding:0 20px; -webkit-border-radius: 3px; -moz-border-radius: 3px; border-radius: 3px; background-color:#67c7e3; border:none;}
#quote-form input.submit:hover {cursor:pointer; background-color:#53565a;}


#content.full div.right span.left {float:left; width:222px;}
#content.full div.right span.left p {float:left; width:35px; height:44px; line-height:44px; color:#666666; font-size:14px; font-family:Nova-SB; text-align:center; margin-right:13px;}
#content.full div.right span.left input {width:160px; padding-left:8px; float:left; clear:none; height:39px; margin-right:10px;}

#content.full div.right span.right {float:left; width:232px;}
#content.full div.right span.right p {float:left; height:44px; line-height:44px; color:#53565a; font-size:14px; font-family:Nova-SB; width:42px; text-align:left; margin-left:20px;}


#content.full div.right span.right select { float:left !important; clear:none; margin-left:62px !important; margin-top:-60px;}
#content.full div.right span.right span#selectselect { float:left !important; clear:none; margin-left:62px !important;}

#content.full div.right div.separator {width:100%; height:10px; display:block; background: transparent url(../images/form-separator.png) no-repeat left center; float:left; clear:both; margin:2px 0 21px 0;}


#content.full div.right.first, #content.full div.left.first {padding-top:35px;}

#quote-form .form-line.small-label {padding:0 !important;}

#quote-form label.radio-label {padding-left:43px !important; position:relative;}
#quote-form label.radio-label span.radio {position:absolute !important; left:0 !important;}


input.smaller-input {width:67px !important; text-align:center; padding-left:0 !important; }
input.small-input {width:103px !important; text-align:center; padding-left:0 !important; }
input.smallest-input {width:50px !important; text-align:center; padding-left:0 !important; }


div.select-box-big {width:83%; position:relative; height:43px;}

#quote-form div.form-line img {margin-top:0px !important;}
#quote-form div.form-line h4 {font-size:14px; font-family:Nova-SB; color:#666666;}
h1.grey {color:#b2bbbf !important;}
#quote-form div.form-line ul {padding-left:17px;}
#quote-form div.form-line ul li {font-size:14px; font-family:Nova-SB; color:#53565a;}


ul.step {list-style:none; padding-bottom:12px;}
ul.step li {float:left; width:25%;}
ul.step li span {display:block; height:25px; line-height:25px; background: transparent url(../images/not-checked.png) no-repeat left center; padding-left:29px; font-family:Nova-SB; font-size:14px; color:#67c7e3;}
ul.step li span.disabled {background: transparent url(../images/checked.png) no-repeat left center; color:#dddddd;}


/***** FAQ LIST *****/


ul.faq li div.answer {display:none;}
ul.faq li a {text-decoration:none; color:#53565a; font-size:18px; line-height:36px; font-family:Nova; }
ul.faq li a:hover, ul.faq li.open a {color:#67c7e3;}
ul.faq li div.answer p {padding-left:40px; font-size:18px; width:80%; line-height:24px;}
ul.faq li p a {line-height:22px;}

/* kirby fix */
/*legacy css, not needed if accordion template is selected*/


body.frequently-asked-questions p.faq-p,
body.email p.faq-p,
body.faqs p.faq-p,
body.email-us p.faq-p,
body.switching-to-flow-2 p.faq-p,
body.account-number p.faq-p,
body.direct-debits p.faq-p,
body.making-a-payment p.faq-p,
body.smart-meters p.faq-p,
body.the-Flow-boiler p.faq-p,
body.flow-boiler-faqs p.faq-p,
div.accordion p.faq-p {padding-top: 0px; padding-bottom:0px; }

body.frequently-asked-questions a.faq-button,
body.email a.faq-button,
body.faqs a.faq-button,
body.email-us a.faq-button,
body.switching-to-flow-2 a.faq-button,
body.account-number a.faq-button,
body.direct-debits a.faq-button,
body.making-a-payment a.faq-button,
body.smart-meters a.faq-button,
body.the-Flow-boiler a.faq-button,
body.flow-boiler-faqs a.faq-button,
div.accordion a.faq-button {padding-left:33px; text-decoration:none; color:#53565a !important; /*font-size:18px; line-height:36px;*/ font-family:Nova-Light; /*background: transparent url(../images/list-item-bg.png) no-repeat 17px center;*/display:block;}

body.frequently-asked-questions a.faq-button,
body.faqs a.faq-button,
body.email a.faq-button,
body.email-us a.faq-button {
	padding-left:20px !important;}

body.frequently-asked-questions a.faq-button:hover,
body.email a.faq-button:hover,
body.faqs a.faq-button:hover,
body.email-us a.faq-button:hover,
body.switching-to-flow-2 a.faq-button:hover,
body.account-number a.faq-button:hover,
body.direct-debits a.faq-button:hover,
body.making-a-payment a.faq-button:hover,
body.smart-meters a.faq-button:hover,
body.the-Flow-boiler a.faq-button:hover,
body.flow-boiler-faqs a.faq-button:hover,
body.frequently-asked-questions a.faq-button.active,
body.email a.faq-button.active,
body.faqs a.faq-button.active,
body.email-us a.faq-button.active,
body.switching-to-flow-2 a.faq-button.active,
body.account-number a.faq-button.active,
body.direct-debits a.faq-button.active,
body.making-a-payment a.faq-button.active,
body.smart-meters a.faq-button.active,
body.the-Flow-boiler a.faq-button.active,
body.flow-boiler-faqs a.faq-button.active,
div.accordion a.faq-button:hover, 
.accordion a.faq-button.active {color:#67c7e3 !important;}

body.frequently-asked-questions .content em,
body.email .content em,
body.faqs .content em,
body.email-us .content em,
body.switching-to-flow-2 .content em,
body.account-number .content em,
body.direct-debits .content em,
body.making-a-payment .content em,
body.smart-meters .content em,
body.the-Flow-boiler .content em,
body.flow-boiler-faqs .content em,
div.accordion.content em {padding:14px 0 34px 32px; font-size:18px; width:80%; font-family:Nova-Light; line-height:24px; font-style:normal;}

body.frequently-asked-questions .content h3,
body.faqs .content h3,
body.email .content h3,
body.email-us .content h3,
body.switching-to-flow-2 .content h3,
body.account-number .content h3,
body.direct-debits .content h3,
body.making-a-payment .content h3,
body.smart-meters .content h3,
body.the-Flow-boiler .content h3,
body.flow-boiler-faqs .content h3,
div.accordion.content h3 {margin:20px 0 5px 0;}

body.frequently-asked-questions .content a.button,
body.faqs .content a.button,
body.email .content a.button,
body.email-us .content a.button,
body.switching-to-flow-2 .content a.button,
body.account-number .content a.button,
body.direct-debits .content a.button,
body.making-a-payment .content a.button,
body.smart-meters .content a.button,
body.the-Flow-boiler .content a.button,
body.flow-boiler-faqs .content a.button,
body.frequently-asked-questions .content a.button:hover,
body.faqs .content a.button:hover,
body.email .content a.button:hover,
body.email-us .content a.button:hover,
body.switching-to-flow-2 .content a.button:hover,
body.account-number .content a.button:hover,
body.direct-debits .content a.button:hover,
body.making-a-payment .content a.button:hover,
body.smart-meters .content a.button:hover,
body.the-Flow-boiler .content a.button:hover,
body.flow-boiler-faqs .content a.button:hover,
div.accordion.content a.button, .accordion.content a.button:hover {color:#fff;}

/*
body.switching-to-flow-2 p.faq-p {padding-top: 0px; padding-bottom:0px; }
body.switching-to-flow-2 a.faq-button {padding-left:33px; text-decoration:none; color:#53565a !important; font-size:18px; line-height:36px; font-family:Nova; background: transparent url(../images/list-item-bg.png) no-repeat 17px center;}
body.switching-to-flow-2 a.faq-button:hover, body.frequently-asked-questions a.faq-button.active {color:#67c7e3 !important;}
body.switching-to-flow-2 .content em {padding:14px 0 14px 40px; font-size:18px; width:80%; font-family:Nova-Light; line-height:24px; font-style:normal;}
body.switching-to-flow-2 .content h3 {margin:20px 0 5px 0;}
body.switching-to-flow-2 .content a.button, body.frequently-asked-questions .content a.button:hover {color:#fff;}
*/
/***** REGISTER FORM *****/
#register-form {width:100%;}

#register-form input, #watch-space input {width:290px; padding-left:8px; height:42px; border:2px solid #d8d8d8; -webkit-border-radius: 3px; -moz-border-radius: 3px; border-radius: 3px; font-size:16px; font-family:Nova; color:#666666;margin-bottom:10px;}

#register-form div.left {min-height:5px;}
#register-form div.left label {color:#67c7e3; font-size:14px; font-family:Nova-SB; height:44px; line-height:44px;}
#register-form div.left label strong {clear:left; display:block; font-weight:normal; color:#53565a; margin-top:-22px !important;}

#register-form div.right label {float:left; clear:left; height:25px; line-height:25px; margin-bottom:5px; font-size:14px; font-family:Nova-SB; color:#53565a; margin-top:9px;}

#register-form input.submit {display:inline-block; height:40px; line-height:40px; color:#ffffff; font-size:16px; text-decoration:none; padding:0 20px; -webkit-border-radius: 3px; -moz-border-radius: 3px; border-radius: 3px; background-color:#67c7e3; border:none;margin:50px 0;}
#register-form input.submit:hover, #watch-space input.submit:hover {cursor:pointer; background-color:#53565a;}
#watch-space input.submit {width:310px; display:inline-block; height:40px; line-height:40px; color:#ffffff; font-size:16px; text-decoration:none; padding:0 20px; -webkit-border-radius: 3px; -moz-border-radius: 3px; border-radius: 3px; background-color:#67c7e3; border:none;margin:0;}

#watch-space {
    margin: 40px 0;
}
#watch-space p.message {
    border:2px solid #d8d8d8; -webkit-border-radius: 3px; -moz-border-radius: 3px; border-radius: 3px;
    width: 288px;
    padding: 10px!important;
    margin-top: 10px;
}
#watch-space p.message.error{
    background-color: #ffc7c8;
}
#watch-space p.message.success{
    background-color: #d9ffc7;
}
/***** FULL WIDTH TEMPLATE *****/
.content.full-new {width:100%; padding:0; max-width:920px; margin:0 auto; padding:54px 0 80px 0;}
.content.full-new div.line {width:100%; margin:20px 0 37px 0; background-color:#f7f7f7; border-top:1px solid #fbfbfb; float:left; clear:both;}

.content.full-new h1 {color:#67c7e3; font-size:58px; font-family:Nova-Thin; padding:4px 0 15px 0;}
.content.full-new h2 {color:#53565a; font-size:36px; font-family:Nova-Light; line-height:39px; font-weight:normal; padding-bottom:3px;}
.content.full-new h3 {color:#6f7373; font-size:30px; font-family:Nova-Light; line-height:32px; font-weight:normal;}
.content.full-new p {font-size:22px; line-height:30px; font-family:Nova-Light; color:#53565a; padding:14px 20% 14px 0;}
.content.full-new p a {color:#67c7e3; text-decoration:none;}
.content.full-new p a:hover {color:#6f7373;}
.content.full-new a.button {min-width:156px; text-align:center; font-size:16px; font-family:Nova-SB; margin:10px 0;}

.content.full-new div.img-left {float:left; text-align:center; margin-right:3%;}
.content.full-new div.img-left p {font-family:Nova-SBIt; color:#c2cacf; font-size:16px;}
.content.full-new div.img-left img {max-width:100%; height:auto;}
.content.full-new div.img-left img.statement {border: 1px solid #EEEEEE;}

.content.full-new div.img-right {float:right; text-align:center; margin-left:3%;}
.content.full-new div.img-right img {max-width:100%; height:auto;}

.content.full-new ul { list-style: inside; padding:5px 20% 20px 18px;}
.content.full-new ol { list-style: outside; padding:5px 20% 20px 18px;}

.content.full-new img.social {vertical-align:middle;padding:5px 0;}


/***** STATEMENT PAGE *****/
.content.full-new .statement p { font-size:15px; line-height:18px; font-family:Nova; padding:0;color:#6f7373;}
.content.full-new .statement h3 { font-size:18px; line-height:18px; font-family:Nova-SB; padding:12px 0 3px 0; color:#67c7e3;}
.content.full-new .statement img {border: 1px solid #EEEEEE;}


/***** HOME PAGE *****/
#home-grey-container {width:100%; min-height:375px; background-color:#67c7e3; padding-top:35px;}

#home-grey-container h1.title {max-width:920px; width:100%; list-style:none; margin:0 auto; color:#ffffff; padding-bottom:20px;}

#home-boxes {max-width:920px; width:100%; list-style:none; margin:0 auto;}
#home-boxes li {float:left; width:46%; margin-right:8%; display:block;}
#home-boxes img {display:block; margin:0 auto;}
#home-boxes li.second {margin-right:0px;}

#home-boxes li a.button {width:50%; padding:0; text-align:center; background-color:#408ea5; font-size:16px; color:#ffffff; font-family:Nova-SB; margin:17px auto 0; display:block;}
#home-boxes li a.button:hover {background-color:#ffffff; color:#67C7E3;}

#home-boxes li h1 {color:#f5f6f7; font-weight:normal; font-family:Nova-Light; font-size:34px; line-height:31px; text-align:center; margin-top:20px;}
#home-boxes li p {color:#ffffff; font-size:18px; line-height:22px; font-family:Nova; padding:11px 0; text-align:center;}

#home-grey-container li p {min-height:50px;}


/***** SLIDER *****/
.flexslider-container {padding-top:50px; width:100%; margin:0 auto 76px auto;  max-width:900px;}
.slides {list-style:none !important; text-align:center;}
.slides img {max-width:100%; height:auto;}

.slides li div.slider-content {width:100%; text-align:left; height:42px; line-height:42px; /*margin-top:57px;*/}
.slides li div.slider-content h1 {color:#53565a; font-size:46px; float:left; font-family:Nova-Light; font-weight:normal; line-height:42px;}

.slides li div.slider-content h2 {color:#53565a; font-size:23px; float:left; font-family:Nova-Light; font-weight:normal; line-height:40px; margin-top:20px;}
.slides li div.slider-content a.button {width:250px !important;  padding:0; text-align:center;
position:absolute; bottom:10px; left:0;}

div.slide-holder div.slide-text {
    float: left;
}
div.slide-holder div.slide-text h2 {
    font-size: 60px;
    color: #67c7e3;
    font-weight: normal;
    font-family: nova-thin;
    line-height: 70px;
    text-align: left;
}
div.slide-holder div.slide-img {

    width: 455px;
    float: right;
}

/***** GREY CONTAINER *****/
div.grey-container {width:100%; background-color:#979998;  background-repeat:no-repeat; background-position:right;}
div.grey-container-content {max-width:920px; margin:0 auto; padding-top:28px; padding-bottom:0px;}

div.grey-container-content h1 {font-size:42px; font-weight:normal; font-family:Nova-Thin; color:#ffffff; padding-bottom:9px;}
div.grey-container-content p {color:#ffffff; font-size:16px; line-height:21px; padding-bottom:21px;}
div.grey-container-content a {text-decoration:none; color:#ffffff; font-size:16px; font-family:Nova-SB;}
div.grey-container-content a:hover {color:#67C7E3;}
div.grey-container-content a.button:hover {color:#ffffff;}


/***** MEET FLOW PAGE *****/
div.meet-flow {margin-top:-50px;}
div.meet-flow div.left {float:left; width:41%; min-height:1px;}
div.meet-flow div.right {float:left; width:54%; margin-left:5%; background-image:url(../images/flow-map2.png); margin-top:-25px;
background-position:0px 20px; background-size: 90%; min-height:560px; background-repeat:no-repeat;}

div.meet-flow div.left2 {float:left; width:32%; min-height:1px;}
div.meet-flow div.right2 {float:left; width:63%; margin-left:5%;}

div.meet-flow div.right a.button {float:left; width:47%; padding:0; text-align:center;}
div.meet-flow div.right div.inline span {color:#fff; width:6%; text-align:center; float:left; height:42px; line-height:42px; padding:0; display:block; margin:0;}

div.meet-flow div.right h1 {padding-bottom:3px;}

div.meet-flow div.video {margin-top:45px; padding-bottom: 56.25%; position:relative; padding-top: 30px; margin-bottom:4px; height: 0; overflow: hidden;}

div.meet-flow button {height:34px; line-height:34px; background: transparent url(../images/play-icon.png) no-repeat left center; color:#ffffff; font-size:16px; font-family:Nova-SB; padding:0 0 0 50px; display:inline-block; text-decoration:none;border:none;cursor: pointer;}
div.meet-flow button:hover {color:#67C7E3;}
div.meet-flow span {height:34px; display:block; text-align:center; margin-top:20px;}

div.inline {margin-top:5px;}
div.inline h1 {line-height:42px; float:left;}

#video-button-holder{
    margin-top: 20px;
}
#video-button-holder p.mid {
    padding-left: 20px;
}
.fl {float:left !important;}
.fr {float: right!important;}
p.fl {margin:0 3%; padding-right:0 !important;}
.fl.margin {margin-right:3% !important;}

ul.col-3 {width:100% !important; padding-left:0px !important; padding-right:0px !important;}
ul.col-3 li {float:left; width:30%;}
ul.col-3 li.cl {clear:left;}


/***** USEFUL INFO PAGE *****/
#useful-info-boxes {list-style:none; width:100%; padding:0; margin-top:28px;}
#useful-info-boxes li {float:left; width:178px; padding:18px 23px 13px 23px; background-color:#67c7e3; -webkit-border-radius: 4px; -moz-border-radius: 4px; border-radius: 4px; margin-left:5px; margin-bottom:5px; height:262px; position:relative;}
#useful-info-boxes li h1 {font-size:20px; line-height:24px; margin:0; padding:0; color:#f3f4f5; font-family:Nova;text-align:center; margin-top:30px;}
#useful-info-boxes li p {color:#f3f4f5; font-size:14px; line-height:18px; padding:0; margin:0; font-family:Nova; min-height:72px; margin-top:10px;}
#useful-info-boxes li div.img {height: 55px; margin-bottom:12px;}
#useful-info-boxes li img {margin:0 auto 0 auto; display:block;}

#useful-info-boxes li a.button {width:200px; padding:0; height:39px; line-height:39px; margin:20px 0 0 0; text-align:center; font-size:16px; font-family:Nova-SB; color:#ffffff; background-color:#53aac4; position:absolute; bottom:10px; left:10px;}
#useful-info-boxes li a.button:hover {background-color:#ffffff; color:#67C7E3; border-color:#ffffff;}
/*
#useful-info-boxes li.info-box-12 {background-color:#408ea5; background-image:url(../../images/guides-video-background.png); background-repeat:no-repeat; background-position:5px 30px;}
#useful-info-boxes li.info-box-12 h1 {font-size:30px; line-height:30px; font-weight:300;}
#useful-info-boxes li.info-box-12 a.button {background-color:#ffffff; color:#53aac4;}
/*

.content.useful-info {padding-bottom:20px;}


/***** CAREERS PAGE *****/
.content.full-new div.lifeatflow h2 { display:inline; padding:0 25px 0 0;}
.content.full-new div.videoscreen { text-align:center; padding:20px 0 30px 0;}
.content.full-new div.lifeatflow img {width:100%; height:auto;}

li.job-post{
    margin-bottom: 40px;
    padding-bottom: 10px;
    border-bottom: 1px solid #DEDEDE;
}
form.careers {width:100%;}
form.careers label {width:32%; float:left; margin-right:4%; display:block; clear:left; text-align:right; color:#67c7e3; font-family:Nova-SB; font-size:14px; height:42px; line-height:42px; margin-bottom:14px;}

form.careers input {width:48%; float:left; display:block; height:42px; line-height:42px; border:1px solid #707070; -webkit-border-radius: 7px; -moz-border-radius: 7px; border-radius: 7px; font-size:14px; padding-left:1%; margin-bottom:14px;}

form.careers input.submit {margin-left:36%; border:none; height:40px; padding:0; text-align:center; background-color:#67c7e3; color:#ffffff; font-size:16px; font-family:Nova-SB; line-height:40px; cursor:pointer; width:28%; clear:left; -webkit-border-radius: 3px; -moz-border-radius: 3px; border-radius: 3px;}
form.careers input.submit:hover {background-color:#53565a;}

form.careers div.file {width:258px; color:#707070; line-height:44px; font-size:14px; font-weight:bold; height:44px; background: transparent url(../images/file-button-careers.png) no-repeat left top; overflow:hidden; cursor:pointer; float:left; position:relative;}
form.careers #cv-file, form.careers #cl-file{display:none;}
form.careers div.file div.filename {position:absolute; left:12px;}
form.careers div.file input {opacity:0; -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=0)"; filter: alpha(opacity=0);}


/***** PLUGGED IN PAGE *****/
#our-tariffs {list-style:none; margin-top:12px;}
#our-tariffs li {float:left; width:70%; margin-left:7%;}
#our-tariffs li:first-child {margin-left:0%;}

#our-tariffs li a.button {padding:0; width:50%; text-align:center;}
#our-tariffs li p {color:#ffffff; font-size:24px; line-height:28px; font-family:Nova-Light;}
#our-tariffs li h1 {font-weight:normal; font-size:27px; color:#ffffff; font-family:Nova-SB; height:42px; line-height:42px; padding:0 0 0 0; margin-bottom:9px;}

/* kirby fix */
body.our-gas-and-electricity-tariff .grey-container-content h2 {font-weight:normal; font-size:27px; color:#ffffff; font-family:Nova-SB; height:42px; line-height:42px; padding:0 0 0 0; margin-bottom:9px;}
body.our-gas-and-electricity-tariff .grey-container-content p {color:#ffffff; font-size:24px; line-height:28px; font-family:Nova-Light;}
body.our-gas-and-electricity-tariff .grey-container-content a.button {padding:0; width:50%; text-align:center;}

/***** FANCY BOX POPUP *****/
#fancybox-content {display:none; max-width:642px; margin:30px 90px 30px 60px; min-height:500px;}
#fancybox-content h1 {color:#67c7e3; font-size:30px; line-height:32px; font-family:Nova-Light; padding-bottom:17px;}
#fancybox-content p {color:#53565a; font-size:24px; line-height:28px; font-family:Nova-Light; padding:10px 0;}


/***** FANCY BOX LOGIN POPUP *****/
#login-message {display:none; max-width:642px; margin:30px 90px 30px 60px; min-height:500px;}
#login-message h1 {color:#67c7e3; font-size:30px; line-height:32px; font-family:Nova-Light; padding-bottom:17px;}
#login-message p {color:#53565a; font-size:24px; line-height:28px; font-family:Nova-Light; padding:10px 0;}
#login-message p a {color:#67c7e3; text-decoration:none;}
#login-message p a:hover {color:#53565a;}


/***** ABOUT FLOW PAGE *****/
#home-boxes.about {margin-top:18px;}
#home-boxes.about li h1 {color:#53565a; font-weight:normal; font-family:Nova-Light; font-size:34px; line-height:47px; min-height:49px;}
#home-boxes.about li p {color:#53565a; font-size:15px; line-height:22px; font-family:Nova; padding:11px 0;}

#home-boxes.about li.first h1 {background: transparent url(../images/about-box-icon-1.png) no-repeat left center; padding-left:71px;}
#home-boxes.about li.second h1 {background: transparent url(../images/about-box-icon-2.png) no-repeat left center; padding-left:69px;}
#home-boxes.about li.third h1 {background: transparent url(../images/about-box-icon-3.png) no-repeat left center; padding-left:71px;}
#home-boxes.about li {float:left; width:31%; margin-right:3.5%; display:block; }
#home-boxes.about li p {min-height:110px; padding-top:10px;}
#home-boxes.about li.third {margin-right:0;}

#header-image-container {width:100%; background-color:#f5f6f7;}
#header-image {max-width:920px; margin:0 auto; width:100%;}
#header-image img {width:100%; height:auto;}


div.small-content {min-height:1px; float:left; width:28% !important; margin-bottom:15px;}
div.big-content {min-height:1px; float:left; width:64% !important; margin-left:0px !important; margin-bottom:15px;}



div.right-content.big-content {margin-left:8% !important;}
div.left-content.big-content {margin-right:8% !important;}

div.right-content img {float:left !important;}
div.right-content.small-content {margin-left:0 !important; }

div.right-content.big-content p {padding:0 !important;}
div.left-content.big-content p {padding:0 !important;}


/***** MEET & JOIN FLOW PAGE *****/
div.left-content {min-height:1px; float:left; width:28%; margin-bottom:15px;}
div.left-content.first img {max-width:262px !important;padding-top:45px;}
div.right-content {min-height:1px; float:left; width:64%; margin-left:8%; margin-bottom:15px;}
div.right-content h2 {font-size:33px !important;}


/***** JOIN FLOW PAGE *****/
div.join-flow h1 {line-height:44px;font-size:36px;padding:0 0 20px 0;}
div.join-flow {margin-top:-60px;}
div.join-flow h2 {font-weight:normal; font-family:Nova-Thin; color:#ffffff;line-height:44px;font-size:36px;padding:0 0 20px 0;}
.content.full-new.joinflow h3 {color:#67c7e3; line-height:60px; font-size:60px; font-family:Nova-Thin; padding:4px 0 15px 0;}
.content.full-new.joinflow h4 {color:#53565a; font-size:36px; font-family:Nova-Light; line-height:39px; font-weight:normal; padding-bottom:3px;}

div.far-right {float:right;margin:30px 30px 0 0;opacity:0.6;filter:alpha(opacity=60); /* For IE8 and earlier */}

form.join-flow label {color:#ffffff; float:left; clear:left; font-size:30px; font-family:Nova-Light; line-height:53px; padding-left:70px;}
form.join-flow label.first {background: transparent url(../images/number-1-icon-big.png) no-repeat left center;}
form.join-flow label.second {background: transparent url(../images/number-2-icon-big.png) no-repeat left center;}
form.join-flow label.third {background: transparent url(../images/number-3-icon-big.png) no-repeat left center;}
form.join-flow input {float:left; width:215px; padding-left:5px; height:37px; font-size:16px; background-color:#dddddd; border:1px solid #f9fafa; margin:18px 0 0 23px;}
form.join-flow input.submit {clear:left;  border:none; height:40px; line-height:40px; width:40%; font-size:16px; font-family:Nova-SB; color:#ffffff; text-align:center; cursor:pointer; background-color:#67c7e3; -webkit-border-radius: 3px; -moz-border-radius: 3px; border-radius: 3px; margin-left:0px; margin-top:36px; display:block;}
form.join-flow input.submit:hover {background-color:#ffffff; color:#67c7e3;}
form.join-flow a.button.blue {width:25%;font-size:22px;text-align: center;}
div.content.full-new .inlineheading {display:inline;float:left;}
div.content.full-new .inlineheading h1 {font-size: 53px;}
div.content.full-new .inlinebutton {float:right;padding:5px 0;font-size: 22px;}
div.content.full-new .inlinebutton a.button.blue {font-size: 22px;}

.our-gas-and-electricity-tariff h3,
.our-gas-and-electricity-tariff p {
	padding-right:350px !important;
	
	}

/***** SHARE FLOW PAGE *****/
#logos {list-style:none; width:100%; display:block; padding:0; margin:14px 0 14px 0;}
#logos li {float:left; margin-left:1.5%;}
#logos li:first-child {margin-left:0px;}
#logos li a img {opacity:0.99; -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=99)"; filter: alpha(opacity=99);} 
#logos li a:hover img {opacity:0.7; -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=70)"; filter: alpha(opacity=70);}

/* kirby fix */
img.refer-a-friend-image {float:left; margin-right:1.4%; display:block; margin-top:14px;}
img.refer-a-friend-image.last {margin-right:0px;}

.select-box-big.refer-friend {width: 38%;}

#register-form div.left {float:left; width:33.8%; text-align:right;}
#register-form div.right {float:left; width:63.5%; margin-left:2.7%;}


form.share div.left {float:left; width:33.8%; text-align:right;}
form.share div.right {float:left; width:63.5%; margin-left:2.7%;}
form.share input {border:1px solid #53565a !important; -webkit-border-radius: 5px !important; -moz-border-radius: 5px !important; border-radius: 5px !important; margin-bottom:7px;}
form.share label strong {line-height:16px; padding-top:11px;}

form.share textarea {border:1px solid #53565a !important; -webkit-border-radius: 5px !important; -moz-border-radius: 5px !important; border-radius: 5px !important; margin-bottom:7px; width:75%; padding-left:1%; height:90px;}

form.share small {font-size:12px; font-family:Nova-SB; line-height:14px; color:#c2cacf; float:left; width:50%; margin-top:10px; margin-left:3%;}
form.share input.submit {border:none !important; float:left; clear:none;}
form.share a.button {clear:left; float:left; padding:0 28px;}

form.share div.form-line.last {border-bottom:none !important;}

form.share small a {text-decoration:none; color:#53565a;}
form.share small a:hover {color:#67c7e3;}


/***** COOKIES *****/
div.cookies-container {max-width:920px; width:100%;position:absolute; top:0; left:50%; margin-left:-460px;}

div.cookies {float:left; width:50%; padding:0 6%; text-align:center; background-color:#eeeff0; height:42px; -webkit-border-bottom-right-radius: 3px; -webkit-border-bottom-left-radius: 3px; -moz-border-radius-bottomright: 3px; -moz-border-radius-bottomleft: 3px; border-bottom-right-radius: 3px; border-bottom-left-radius: 3px; position:relative; margin-bottom:-42px; }
div.cookies p {color:#53565a; font-size:14px !important; font-family:Nova-SB; line-height:20px; padding:0 !important;}
div.cookies a {text-decoration:none; color:#53565a; font-size:14px; font-family:Nova-SB;}
div.cookies a:hover {color:#67c7e3;}

#accept-cookies {float:right; position:absolute; right:2%; top:50%; margin-top:-4px;}


/***** COMPENSATION TABLE *****/
#compensation {border:1px solid #67C7E3; border-collapse:collapse; margin:10px 0 30px 0;}
#compensation th {background-color:#67C7E3; color:#ffffff; text-align:left; padding-left:1.5%;font-size:14px;}
#compensation tr {border-bottom:1px solid #67C7E3 !important;}
#compensation tr td {width:31.8%; padding:2px 0 2px 1.5%; font-size:14px; color:#6F7373;}
#compensation tr td:first-child {font-weight:bold; color:#6F7373;}


/***** PRICE PLAN TABLE *****/
#priceplan {border:2px solid #67C7E3; border-collapse:collapse; margin:10px 0 30px 0;max-width:720px;}
#priceplan th {background-color:#67C7E3; color:#ffffff; text-align:left; padding:5px 0 5px 1.5%;
font-size:14px;line-height:16px;}
#priceplan tr {border-bottom:1px solid #67C7E3 !important;}
#priceplan tr td {width:25%; padding:2px 0 2px 1.5%; font-size:14px; color:#6F7373;}
#priceplan tr td:first-child {font-weight:bold; color:#6F7373;}


/***** SITEMAP *****/
div.content ul.sitemap {padding:0; float:left; width:23%; margin:0 1% 20px 1%; list-style:none; display:block; }
div.content ul.sitemap li.title {font-size:20px; font-family:Nova-SB; color:#67C7E3; margin:0;}
div.content ul.sitemap li.title.margin {margin-top:20px;}
div.content ul.sitemap li a {text-decoration:none; color:#53565a;}
div.content ul.sitemap li a:hover {color:#67C7E3;}

div.about-flow img {max-width:100% !important;}


/***** MEDIA QUERIES TABLE *****/
@media screen and (max-width: 940px){
    div.line {margin-left:0; width:100%;}
    body {overflow-x:hidden ;}
    
    .content.full-new {width:96% ; padding-left:2%; padding-right:2% ;}
    .content.full-new p, .content.full-new ol, .content.full-new ul {padding-right:0;}
    
    form.join-flow label {width:80%;}
    form.join-flow input {float:none; clear:left; margin:20px 0 20px 0; width:50%; padding:0;}
    
    div.grey-container {width:96% ; padding-left:2%; padding-right:2%;}
    
    div.video iframe, div.video embed, div.video object { position: absolute; top: 0; left: 0; width: 100%; height: 100%;}
    div.inline a.button {float:none; clear:both;}
    
    #useful-info-boxes li {margin:0 0 15px 15px;}
    
    #our-tariffs li {margin:0 0 0 10%; width:45%;}

    div.cookies {width:78%; margin:15px 1%; padding:10px 10%; height:auto; clear:both; -webkit-border-radius: 3px; -moz-border-radius: 3px; border-radius: 3px;}
    
    img.map {float:none; clear:both;}

    div.far-right{display:none;}
    
    #header.cookie {margin-top:90px;}
    
    div.cookies-container {max-width:920px; width:100%; position:absolute; top:0; left:0; margin-left:0;}
}

@media screen and (max-width: 820px){  
    #header {width:96%; padding:0 2%;}
    
    #menu {float:left; margin-top:20px;}
    #menu li {margin-left:0px; margin-right:18px;}
    
    .flexslider-container {width:96%; padding:20px 2%;}
    .flexslider-container .flex-direction-nav {display:none;}
    .flexslider-container li div.slider-content a.button {float:left; clear:both !important; margin-top:20px;}
    
    #home-boxes {width:96%; padding-left:2% !important; padding-right:2% !important; padding-bottom:30px;}
    #home-boxes.about {width:96%; padding-left:2% !important; padding-right:2% !important; padding-bottom:30px;}
    
    #footer {width:96%; padding:0 2%;}
    #footer-menu li {margin-left:0px; margin-right:20px;}
    
    #login {float:right; margin-right:0px;}
    
    #quote-form label.small-width {width:100% !important; margin-top:10px;}
    
    ul.step li {float:left; width:50%; margin-bottom:10px;}
    
    div.meet-flow div.left {float:none; width:100%; margin:20px 0;}
    div.meet-flow div.right {float:none; width:100%; margin:20px 0;}

    #useful-info-boxes li.info-box-3 {margin:0 15px 15px 0;}
    #useful-info-boxes li.info-box-5 {margin:0 0 15px 0;}
}


@media screen and (max-width: 720px){
    #home-boxes li.second {margin-right:0px;}
    #home-boxes li.third {clear:left; margin-top:20px;}
    #home-boxes li {width:45%; margin-right:10%;}
    #home-boxes.about li.second {margin-right:0px;}
    #home-boxes.about li.third {clear:left; margin-top:20px;}
    #home-boxes.about li {width:45%; margin-right:10%;}
    
    div.content ul.sitemap {width:31%;}
    
    form.join-flow a.button.blue {width:40%; margin-top:20px;}
}


@media screen and (max-width: 600px){    
    #useful-info-boxes li {float:none !important; clear:both !important; margin:15px auto !important;}
    
    #content.full div.right.first {margin-left:0px !important;}
    #content.full div.left {float:none; width:96%; text-align:left; padding:0 2%;}
    #content.full div.right {float:none; width:96% !important; text-align:left; padding:0 2%; margin-left:0;}
    
    #menu li ul {width:160px !important; padding-left:5px; padding-right:5px;}
    #menu {display:none !important;}
    #menu-hidden-button {display:block;}
    
    form.share div.left {float:none; width:96%; text-align:left; padding:0 2%;}
    form.share div.right {float:none; width:96% !important; text-align:left; padding:0 2%; margin-left:0;}
    
    form.careers label {float:none; width:100%; text-align:left; margin:0;}
    form.careers input {float:none; width:100%; text-align:left; margin:0;}
    form.careers input.submit {margin:80px 0 20px 0; width:100%; float:none; clear:both; display:block;}
    
    div.go-with-flow div.left-content {float:none; width:100%; padding:0 !important; margin:0 !important;}
    div.go-with-flow div.left-content img, div.go-with-flow div.right-content img {float:left ; margin:30px 20px 10px 0;}
    div.go-with-flow div.right-content {float:none; width:100%; padding:0 !important; margin:0 !important;}
    
    div.meet-flow div.right a.button {float:none; width:100%; padding:0; text-align:center;}
    div.meet-flow div.right div.inline span {width:100%;}
    
    ul.faq li p {width:94% !important; padding-left:6% !important;}
    
    div.select-box-big {width:100% !important; margin-left:0 !important;}
    
    #our-tariffs li {margin:20px 0; width:100%;}

    #content.full-new div.img-left {float:none; margin-bottom:20px;}

    div.video img {max-width:100%; height:auto;}
    
    ul.col-3 li {width:100%; clear:both;}
}

@media screen and (max-width: 520px){
    
    
    #home-boxes li {width:100%; clear:both; margin:20px 0;}
    #home-boxes.about li {width:100%; clear:both; margin:20px 0;}
    
    form.join-flow label {min-height:53px; line-height:35px;}
    form.join-flow label.third {line-height:53px;}
    form.join-flow input {float:none; clear:left; margin:20px 0 20px 0; width:100% !important; padding:0;}
    
    form.share input {width:99% !important; padding-left:1% !important;}
    form.share textarea {width:100%;}
    
    div.go-with-flow div.left-content {text-align:center; float:none !important;}
    
    div.about-flow div.right-content, div.about-flow div.left-content {width:100% !important; margin-left:0 !important; margin-right:0 !important; float:none !important; text-align:left;}
    div.about-flow img {float:none !important; width:auto !important; max-width:60% !important; text-align:center !important;  margin:0 auto !important; }
    div.about-flow div.left-content {padding-bottom:20px !important;}
    div.go-with-flow.about-flow div.left-content img, div.go-with-flow.about-flow div.right-content img {float:none !important;}
    
    
    div.go-with-flow.about-flow div.left-content img, div.go-with-flow.about-flow div.right-content img {float:none !important;}
    
    div.content ul.sitemap {width:48%;}
    
    div.grey-container-content a.button {width:96% !important; padding:0 2% !important; text-align:center !important;}
}



input.small-friend {width:136px !important;}

.survey{
	padding-top:50px;
	font-size: 25px;
	color:#53565a;
}

.survey ul{
	margin:0;
}

.form_footer{
	display:none;
}

.survey .top{
	margin-bottom:50px;
}

.survey .top label{
	line-height:50px;
	
	margin-right:10px;
	display:block;
	float:left;
	width:100px;
	text-align:right;
}

.button.send{
	margin-top:35px;
}



.survey .title{
	background-image:url(../images/arrow.jpg);
	background-position:280px center;
	background-repeat:no-repeat;
padding: 14px 10px;
	width: 312px;
	-webkit-appearance:none;
-webkit-appearance: none;
-moz-appearance: none;
	
	background-color:#f2f2f2;
	border:none;
	
}

.survey .top input, .powersection input{
	padding: 14px 10px;
	width: 290px;
	border: 2px solid #d8d8d8;
	border-radius:4px;

}

.survey li{
	padding-bottom:10px;
	list-style:none;
}

.smallblue{
	font-weight:bold;
	color:#67c7e3;
	font-size:13px;
}

.bottom li{
	margin-bottom:20px;
	
	
}

.bottom .form_field{
	
	display:block;
	padding-bottom:20px;
}

.bottom  label{
	display:block;
	padding-bottom:2px;
}

.bottom br{
	display:block;
	height:0px;
	line-height:1px;
	
}

.yesno label{
	height:28px;
}

.yesno br{
	display:none;
}

.bottom input[type="radio"]{
	padding-bottom:10px;
}


.count input[type="radio"] {
	
	display:block;
	margin-top:8px;
	
	float:left;
}
.form_error_title{
	display:block;
	padding-bottom:20px;
}

.count label{
	padding-top:9px;
	margin-right:25px;
	margin-left:2px;
	
	display:block;
	float:left;
}

.hidden{
	display:none;
}

.count br{
	display:none;
}
input[type="radio"] {
	height:29px;
	margin-top:1px;
	float:left;
	display:block;
	width:20px;
}

.form_choice_text{
	
	
	display:block;
	margin-top:2px;
	
}

.last{
	margin:0px !important;
}

.power input{
	float:left;
	
	padding: 14px 10px;
	width: 130px;
	border: 2px solid #d8d8d8;
	border-radius:4px;
	margin-right:10px;
	
}

.power li{

	display:block; 
	width:225px;
	float:left;
}

.powerlabel {
	padding-top:20px;
	
	
}

.power label{
	padding-top:10px;
	float:left;
}

.rightmore{
	padding-right:20px;
}

.power br{
	display:none;
}

.leftcontent{
	width:40%;
	padding-right:10%;
	display:block;
	float:left;
}

.imageright{
	padding-bottom:90px;
	width:50%;
	
	float:right;
}

.imageright img{
	width:100%;
	height:auto;
}

.clear{
	clear:both;
}

.sectionform label{
	display:block;
	width: 500px;
	font-weight:bold;
	color:#67c7e3;
	font-size:13px;
}


.questionform{
	
	margin-top:55px;
	
	margin-bottom:10px;
	
	height:40px;
	width:100%;
	display:block;
}

.questionform label{
	font-size:27px;
	font-weight:bold;
}
	

.sectionform{
	margin-bottom:15px;
	
	height:40px;
	width:100%;
	display:block;
}

.radiosection{
	padding-bottom:7px;
	
	display:block !important;
}

.answer{
	margin-left:25px !important;
	line-height:33px;
	display:block;
}

.number .answer{
	width:20px;
	float:left;
}

.number .radiosection{
	float:left;
	width:75px;
}

.radiosection .answer{
	margin-left:35px !important;
}

.number .answer{
	margin-left:8px !important;
}

.powersection input{
	width:107px;
}

.powersection span{
	font-size:21px;
	line-height:32px;
	word-spacing: 65px;
}


.powersection.one{
	float:left;
}

.powersection.one{
	margin-right:6px;
}

.powersection.one input{
	margin-right:6px;
}

/*Added Styles (WSD) */

.alignCenter {
	text-align:center;}

.quoteButton {
	background-color:#383838;
	color:#ffffff;
	position:fixed;
	top:-60px;
	right:20px;
	padding:10px 20px;
	z-index:99999999;
	border-bottom:5px solid #67c7e3;
	text-decoration:none;
	-webkit-border-bottom-right-radius: 5px;
	-webkit-border-bottom-left-radius: 5px;
	-moz-border-radius-bottomright: 5px;
	-moz-border-radius-bottomleft: 5px;
	border-bottom-right-radius: 5px;
	border-bottom-left-radius: 5px;	
	-webkit-box-shadow: 0px 2px 3px 0px rgba(50, 50, 50, 0.5);
	-moz-box-shadow:    0px 2px 3px 0px rgba(50, 50, 50, 0.5);
	box-shadow:         0px 2px 3px 0px rgba(50, 50, 50, 0.5);
	transform:rotate(-90deg);
	-ms-transform:rotate(-90deg); /* IE 9 */
	-webkit-transform:rotate(-90deg); /* Opera, Chrome, and Safari */	
	top:150px !important;
	right:-110px !important;
	}

.doublepadt {
	padding-top:40px;}
	
.acc-sec {
	padding-bottom:20px;}
			
.emergency-contacts .content ul li {
	color:#53565B;
	font-size:22px;
	line-height:30px;
	font-family:Nova-Light;
	margin-top:10px;
	text-indent: -1em;
	}
	
.stdpad {
	padding:20px;}
	
.stdpadl {
	padding-left:20px;}
	
.stdpadr {
	padding-right:20px;}
	
.stdpadb {
	padding-bottom:20px;}
	
.stdpadt {
	padding-top:20px;}

.doublepad {
	padding:40px;}
	
.stdmart {
	margin-top:20px;}
	
.stdmarr {
	margin-right:20px;}
	
.doublemart {
	margin-top:40px;}
	
.doublemarb {
	margin-bottom:40px;}
	
.doublepadb {
	padding-bottom:40px;}
	
.dealList .col20,
.dealList .col40 {
	display:table-cell;
	vertical-align:middle;
	height:100%;}
	
.col20 {
	width:20%;
	}
	
.col40 {
	width:40%;
	}
	
.col2,
.col3 {
	display:inline-block;}

.col2 {
	width:50%;
	float:left;}
	
.col3 {
	width:33.33%;
	float:left;}
	
.colBigCenter {
	display:block;
	width:53%;
	margin:0 auto;}
	
.colBigCenter p {
	font-size:18px !important;
	line-height:24px !important;
	padding:0 15px 0 0 !important;
	text-align:right;}
	
.col3 p {
	padding:0 !important;}
	
.blueBlockListWrap {
	background-color:#67c7e3;
	}
	
#shouldExpect .blueBlockListWrap h3 {
	color:#ffffff !important;
	font-weight:600 !important;}
	
.blueBlockList {
	padding:20px !important;}
	
.blueBlockList li {
	color:#ffffff;
	list-style-type:none;
	background-image:url(../../images/icon-tick.png);
	background-repeat:no-repeat;
	padding-left:50px;
	margin-bottom:10px;
	margin-top:10px;}
	
.theBenefits p {
	font-size:18px !important;
	line-height:24px !important;}
	
.greyBox {
	background-color:#f5f6f7;
	position:relative;}
	
.greyBox h3 {
	color:#53565a !important;}
	
.greyBox h4 {
	color:#67c7e3 !important;
	font-size:22px !important;}
	
.borderBottom {
	border-bottom:1px dotted #cccccc;}
	
.borderTop {
	border-top:1px dotted #cccccc;}
	
.theBenefits h1 {
	font-size:45px !important;
	font-weight:400 !important;
	font-family:Nova-Light !important;
	}
	
div.video {
	height: 0;
	margin-bottom: 4px;
	margin-top: 45px;
	overflow: hidden;
	padding-bottom: 56.25%;
	position: relative;
	}
	
.meet-flow a.button {
	margin:0px 10px !important;}
	
.linkHolder {
	position:absolute;
	right:20px;
	bottom:30px;}
	
.blueTitle {
	color:#67C7E3 !important;}
	
a.button.black {
	background-color:#383838;}
	
.dealList {
	padding:0 !important;
	}
	
.dealList p {
	font-size:16px !important;}
	
.dealList h3 {
	color:#67c7e3 !important;}
	
.dealList li {
	list-style-type:none;}
	
.dealList li.first {
	background-image:none !important;}
	
.dealList li {
	background-image:url(../../images/grey-arrow-down.png);
	background-repeat:no-repeat;
	background-position:top center;}
	
.dealList li:nth-child(2n+1) {
	background-color:#f5f6f7;
	background-image:url(../../images/white-arrow-down.png);
	background-repeat:no-repeat;
	background-position:top center;}
	
.listCircle {
	background-color:#53565a;
	color:#ffffff;
	font-size:48px;
	display:inline-block;
	width:95px;
	height:60px;
	padding-top:35px;
	text-align:center;
	-webkit-border-radius: 95px;
	-moz-border-radius: 95px;
	border-radius: 95px;
	}
	
.doublemarv {
	margin-top:40px;
	margin-bottom:40px;}
	
.textRight {
	text-align:right;}
	
.smallP {
	font-size:12px !important;
	padding:0 !important;}
	
.alignRight {
	text-align:right;}
	
 .how-it-works .stdmarr {
	 margin:0 20px 0 0!important;}
	 
.noMargin {
	margin:0 !important;}
	
.get-a-quote .big,	
.our-gas-and-electricity-tariff .big {
	font-size:26px !important;
	color:#67c7e3 !important;
	font-weight:600;}

.get-a-quote .content p  {
	padding:0 !important;}
	
.openButton {
	background-color:#67c7e3;
	color:#ffffff;
	position:absolute;
	right:0;
	top:0;
	height:40px;
	width:100px;
	text-align:center;
	padding-top:10px;
	font-size:18px;
	font-weight:600;
	 -webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}

.speech {
	position: relative;
	background: #408ea5;
	text-align:center;
	color:#ffffff !important;
	padding:10px !important;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	width:50%;
	font-weight:600 !important;
	}
	
.speech:after {
	top: 100%;
	left: 50%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
	border-color: rgba(136, 183, 213, 0);
	border-top-color: #408ea5;
	border-width: 15px;
	margin-left: -15px;
}

.existing-customers .content p {
	padding:14px 320px 0 0;}
	
.existing-customers .content .greyBox p {
	padding:14px 0 0 0;}
	
.existing-customers .content p.big {
	padding:10px 0 0 0;}
	
.existing-customers #watch-space input {
	width:375px;}
	
.halfmart {
	margin-top:10px !important;}

.closeButton {
	background-color:#383838;
	color:#ffffff;
	position:absolute;
	right:0;
	top:0;
	height:40px;
	width:100px;
	text-align:center;
	padding-top:10px;
	font-size:18px;
	font-weight:600;
	 -webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}
	
.linkBar {
	background-color:#f5f6f7;
	display:block;
	width:100%;
	margin-top:10px;
	padding:10px 20px;
	font-weight:600;
	position:relative;}
	
.linkBar:hover .openButton {
	background-color:#383838;}
	
.linkBar:hover .closeButton {
	background-color:#67c7e3;}
	
.switching-to-flow-2 p,
.frequently-asked-questions .content p,
.email .content p,
.faqs .content p,
.email-us .content p {
	padding:0 !important;}
	
.stdmarl {
	margin-left:30px;}
	
.doublemarr {
	margin-right:20px !important;}
	
.contact-us .greyBox p {
	font-size:16px;
	font-weight:600; 
	line-height:22px;}

body.what-you-should-expect h3 {font-size:28px !important; color:#67c7e3 !important;}
	
	
/********* FLOW FORM NEW *********/	
	
.flow-contact-form {width:900px; background-color:#f5f6f8; padding:20px; box-sizing:border-box; -webkit-box-sizing:border-box; -moz-box-sizing:border-box;}
input[type='text'] {height:40px; padding:5px 10px; border:1px solid #999; width:320px; font-family:'Nova', helvetica, arial, sans-serif; color:#999; font-size:16px;}
textarea {padding:10px; border:1px solid #999; width:380px; font-family:'Nova', helvetica, arial, sans-serif; color:#999; font-size:16px;}
input[type='submit'] {padding:16px; background-color:#68c7e3; width:120px; color:#FFFFFF; font-family:'Nova', helvetica, arial, sans-serif; border:none; font-size:15px; cursor:pointer;}

label {font-family:'Nova', helvetica, arial, sans-serif; font-size:20px; color:#68c7e3;}

/********* END FLOW FORM NEW *********/


/***** J ADDITIONAL CSS *****/

.contact-form-holder {margin-top:30px !important;}

.acc-sec h1 {padding:30px 0 !important;}
.acc-sec h2 {padding:30px 0;}
.acc-sec button {padding:20px 0 !important;}

.content .greyBox h3 {font-size:24px;}

.doublepadv {
	padding-top:40px;
	padding-bottom:40px;}
	
.content .greyBox h2 {
	font-weight:600;
	}
	
.theBenefits {
	background-color:#f5f6f7;}


/*
@media screen and (max-width: 1296px) {
 #login {
	 margin-right:200px !important;
	}	
*/
	
@media screen and (max-width: 870px) {
 .linkHolder {
	 margin-top:30px !important;
	 position:relative !important;
	 bottom:auto !important;}	
	}	
	
	
@media screen and (max-width: 841px) {
	.how-it-works a.button {
		display:block !important;
		float:none !important;
		margin:10px auto 0 !important;
		}
	}
	
@media screen and (max-width: 820px) {
 #login {
	 margin-right:0px !important;
	}	
	
	
@media screen and (max-width: 810px) {
 .col2 {
	 width:100% !important;}
	 
 .col3 {
	 width:100% !important;
	 text-align:center !important;}
	 
 .col3 img {
	 display:block !important;
	 margin:0 auto !important;}
	 
 .colBigCenter p {
	 text-align:center !important;
	 margin-top:15px !important;
	 margin-bottom:15px !important;}
	 
 .colBigCenter img {
	 display:block !important;
	 margin:0 auto !important;}
	 
  .slide-text h2 {
	  font-size:50px !important;
	  line-height:60px !important;
	  margin-left:50px !important;
  }
  
  .slider-content h2 {
	  margin-left:50px !important;
	  margin-right:50px !important;}
	  
  .slides li div.slider-content a.button {
	  margin-left:50px !important;
	  position:relative !important;}
	  
   .speech {
	   margin:0 auto !important;}
	 
}

@media screen and (max-width: 700px) {
	.col20,
	.col40 {
		display:block !important;
		float:left !important;
		width:100% !important;}
		
	.dealList h3 {
		text-align:center !important;
		margin-top:20px !important;}
	}

@media screen and (max-width: 658px) {
	.video a.button {
		margin-top:20px !important;}
	
	}
