

.checkbox, .radio {
	width: 25px;
	height: 25px;
	padding: 0 5px 0 0;
    margin-right:13px;
	background: url(checkbox.png) no-repeat;
	display: block;
	clear: left;
	float: left;
    -moz-transition: none; -webkit-transition: none; -o-transition: none; cursor:pointer;
}
.radio {
	background: url(radio.png) no-repeat;
}

select.styled {height:43px; cursor:pointer;}


.select {
	position: absolute;
	width:93.5%;
    height: 43px !important;
    display:block;
	padding: 0 3% 0 4%;
	color: #666666;
	font-size: 14px;
    line-height:43px;
    font-family:Nova-SB;
	background: #f2f2f2 url(select.png) no-repeat right center;
	overflow: hidden;
    -webkit-border-radius: 3px; -moz-border-radius: 3px; border-radius: 3px;
}

.small {
	position: absolute;
	width: 128px; /* With the padding included, the width is 190 pixels: the actual width of the image. */
	height: 43px !important;
    display:block;
	padding: 0 24px 0 18px;
	color: #666666;
	font-size: 14px;
    line-height:43px;
    font-family:Nova-SB;
	background: url(select-small.png) no-repeat right center;
	overflow: hidden;
    -webkit-border-radius: 3px; -moz-border-radius: 3px; border-radius: 3px;
    cursor:pointer;
}


select option {color: #666666;	font-size: 14px; font-family:Nova-SB; background:#f2f2f2; padding:7px 10px;}
